body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* background-color: #202124;
    color: #F5F5F5; */
}

.container{
    display: flex;
    height: 100vh;
}

.nav{
    width: 15vw;
    border: 2px solid blue;
}

.snippets{
    width: 85vw;
    border: 2px solid red;
}

.fileCol{
    display: flex;
    flex-direction: column;
    padding: 7% 1% 0% 1%;
}
.file{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.content{
    width: 100%;
    height: 100%;
    border: 2px solid green;
}
.content>textarea{
    width: 100%;
    height: 90%;
}

 